#video
.intro
  .wrapper
    .title
      Мы создаем
      = "<span class='bolder'>посадочные страницы</span>,"
      %br
      %span.bolder продуманные
      до мелочей

    .buttons
      .button.video-button#video-button Видео о нас
      .button.order-button#scroll-to-form-button Заявка на звонок

  .favourite-projects
    %a#scroll-to-first-case{href: '#'}
      Избранные проекты
