.principle-container{anchor: :attention}

  .principle-card-title
    Заморочка о внимании
  .principle-card-subtitle
    Присутствуют ли на странице интересные и интерактивные блоки
    %br
    на которых посетитель задержит внимание

  .principle-card-desc

    %p
      Вы заметили, как вам захотелось посмотреть хотя бы заголовки в «Наших заморочках»
      и вы по очереди открывали все квадратики?

    %p
      Да мы знаем, что вы это делаете! И нам важно, чтобы в каждой работе был
      как минимум один такой интересный элемент.

