.principle-container{anchor: :candy}

  .principle-card-title
    Заморочка о конфетах
  .principle-card-subtitle
    Сделали ли мы сделали "конфетку" или просто прогнулись под
    %br
    требования клиента, чтобы поскорее получить деньги?



  .principle-card-desc
    %p
      Зачастую бывает так, что наши клиенты не видят свой же бизнес со стороны и порой это приводит
      к попыткам внести в посадочную страницу информацию, не несущую за собой ценности и пользы
      для маркетинговой составляющей.

    %p
      Конечно же, часто бывает так, что владельцы бизнеса подсказывают решения,
      до которых мы бы сами в жизни не додумались.

    %p
      Но мы тщательно взвешиваем все плюсы и минусы каждого информационного блока
      и в итоге оставляем в проекте только те решения, которые приведут к результату.

