.principle-container{anchor: :empty}

  .principle-card-title
    Заморочка о пустом месте
  .principle-card-subtitle
    Вся ли информация на странице нужна клиенту
    %br
    или что-то сделано для заполнения места?

  .principle-card-desc

    %p
      Нам важно, чтобы каждый блок на посадочной странице подводил посетителя
      %br
      к целевому действию - звонку или отправке заявки.

    %p
      К сожалению, в некоторых работах наших коллег, явно прослеживается обратная
      %br
      тенденция - запихать в страницу как можно больше ненужной информации, по принципу «Чтобы было».
