.principle-container{anchor: :price}

  .principle-card-title
    Заморочка о цене
  .principle-card-subtitle
    Стоит ли сделанная нами работа
    %br
    в два раза дороже полученных за нее денег?

  .principle-card-desc

    %p
      В самом начале, когда Абардача была молодой и зеленой, мы делали посадочные страницы
      по 10 000 рублей. Заказов было много, но уровень работ сильно оставлял желать лучшего.
      Как бизнес, мы, конечно же, хотели повысить стоимость хотя бы до 20 000 рублей.
      Но с нашим плохим портфолио реализовать эту цель не представлялось возможным.

    %p
      Единственным решением оказалось взять проекты по 10 000 рублей и сделать их так,
      как будто бы нам заплатили за них 20 000 рублей. И, благодаря такому подходу,
      наша вожделенная цель была достигнута: нам даже не приходило убеждать клиентов платить
      эти деньги, уровень работ подразумевал это как само собой разумеющееся.


    %p
      Стоит ли говорить о том, что нам это очень понравилось и с тех пор мы всегда
      заморачиваемся по этому поводу ;).