.principle-container{anchor: :pride}

  .principle-card-title
    Заморочка о гордости
  .principle-card-subtitle
    Будем ли мы с гордостью показывать свою работу
    %br
    нашим будущим клиентам
    или просто похороним ее в архивах?


  .principle-card-desc
    %p
      Для нас действительно важно, чтобы мы могли гордится каждой, без исключения,
      нашей работой.
      %br
      Мы не гонимся за количеством работ, а понимаем что
      наше будущее - это портфолио из классных и неповторимых проектов.
