.principle-container{anchor: :use}

  .principle-card-title
    Заморочка о пользе
  .principle-card-subtitle
    Несет ли посадочная страница пользу для посетителя
    %br
    или лишь рекламирует ваш товар или услугу?

  .principle-card-desc
    %p
      Мы с вами прекрасно чувствуем и понимаем когда нами пытаются манипулировать и «впаривать» товары.

    %p
      Поэтому в наших работах мы стараемся не только показать все прелести продукта,
      но и помочь потенциальному покупателю в тонкостях выбора или особенностях.

    %p
      Благодаря такому подходу, посадочная страница доносит до посетителя полезную информацию,
      он начинает вам доверять и более охотно оставляет заявку на консультацию,
      расчет стоимости или на обычный звонок.

