.case.marketube
  .wrapper.clearfix.relative.inheritance-height
    .case-header.clearfix
      .case-name
        Marketube
      .case-tags
        .case-tag.active{rel: :about}
          О проекте
        .case-tag{rel: :ideas}
          Находки
        .case-tag{rel: :result}
          Результат

    .case-desc
      %p{anchor: :about}
        Сайт наших партеров, занимающихся съемкой продающих видеороликов.
        %br
        Главная задача: «Донести ценность видеороликов как маркетингового инструмента для предпринимателей»

      %p.hidden{anchor: :ideas}
        Были привлечены эксперты в сфере бизнеса и телевидения.
        Так же была использована уникальная графика для раскрытия ценности видео

      %p.hidden{anchor: :result}
        Стоимость привлечения клиента резко упала, а количество заявок, по сравнению с
        %br
        предыдущим сайтом,
        увеличилось в два раза.

    %a.case-image.marketube{href: 'http://marketube.abardacha.ru', target: '_blank'}