.case.mimicase
  .wrapper.clearfix.relative.inheritance-height
    .case-header.clearfix
      .case-name
        Mimicase
      .case-tags
        .case-tag.active{rel: :about}
          О проекте
        .case-tag{rel: :ideas}
          Находки
        .case-tag{rel: :result}
          Результат

    .case-desc
      %p{anchor: :about}
        Страница захвата для компании, занимающейся печатью логотипов и фотографий на чехлах для телефонов.
        %br
        Задача: «Разработать посадочную страницу для привлечения клиентов из корпоративного сектора»

      %p.hidden{anchor: :ideas}
        Мы наглядно показали как будет выглядеть логотип компании на чехле для популярных моделей смартфонов и
        донесли ценность такого подарка для своих сотрудников и партнеров.

      %p.hidden{anchor: :result}
        Страница была «заточнена» под новогодние праздники и свою функцию она выполнила.
        Были заключены контракты с тремя крупными компаниями.


    %a.case-image.mimicase{href: 'http://mimicase.cases.abardacha.ru', target: '_blank'}