.case.rzkm
  .wrapper.clearfix.relative.inheritance-height
    .case-header.clearfix
      .case-name
        ОПОРА
      .case-tags
        .case-tag.active{rel: :about}
          О проекте
        .case-tag{rel: :ideas}
          Находки
        .case-tag{rel: :result}
          Результат

    .case-desc
      %p{anchor: :about}
        Сайт для Ростовского завода композитных материалов.
        Главной задачей было сделать понятную и удобную для целевой аудитории работу.

      %p.hidden{anchor: :ideas}
        Мы придумали очень наглядный и лаконичный способ показать преимущества стеклопластиковой арматуры.
        Также мы разработали крутейший калькулятор стоимости, который наглядно показывает преимущество перед
        металлической арматурой как в цене, так и в весе.

      %p.hidden{anchor: :result}
        Спустя десять дней после запуска Яндекс Директа, завод смог получить
        10 небольших заказов и один крупный на более чем 2 миллиона рублей.

    %a.case-image.rzkm{href: 'http://rzkm.abardacha.ru', target: '_blank'}